/* General styles */

* {
    box-sizing: border-box;
}

:root {
    font-size: 19px;

    /* color variables */
    --light: #d8d8d8;
    --dark: #1f1f1f;
    --accent: #e7a700;
}

.dark-mode {
    --dark: #d8d8d8;
    --light: #1f1f1f;
    --accent: #866000;
    background-blend-mode: multiply;
}

body {
    font-family: "Baloo Chettan 2", cursive;
    margin: 0;
    color: var(--dark);
    background: var(--light);
    background-image: url("https://images.unsplash.com/photo-1454789476662-53eb23ba5907?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=689&q=80");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    transition: all 500ms;
    height: 100vh;
}

/* Header */

header {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 1em;
    max-width: 1000px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1 {
    margin: 0;
}

h1 a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--accent);
    font-weight: 500;
}

#status {
    margin: 0 auto;
}

.options {
    position: fixed;
    top: 0;
    right: 0;
    background: var(--accent);
    color: var(--dark);
    padding: 1em;
    height: 100vh;
    width: 30vw;
    min-width: 250px;
    font-size: 1.1rem;
    opacity: 0;
    transform: translateX(100%);
    transition: all 250ms ease-out;
}

#options-open,
#options-close {
    font-size: 1.4rem;
    transition: all 300ms;
}

#options-open:hover,
#options-close:hover {
    display: inline-block;
    cursor: pointer;
    transform: rotate(90deg);
}

.option-desc {
    margin-bottom: -0.5em;
}

.option {
    cursor: pointer;
    list-style: circle;
}

.option-active {
    list-style: disc;
}

.option:hover {
    list-style: disc;
}

.options-open {
    opacity: 1;
    transform: translateX(0);
}

/* Weather display */

main {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.hidden {
    visibility: hidden;
}

.overwiew {
    text-align: center;
}

#title {
    font-size: 3rem;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 0.8;
}

#time {
    color: gray;
}

#icon {
    font-size: 5rem;
    margin: -0.3em auto;
}

#desc {
    margin-bottom: 2em;
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.details ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 200px));
    grid-gap: 0.8em;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.details ul li {
    border: 1px solid gray;
    padding: 0.5em;
    border-radius: 5px;
    box-shadow: 0 0 15px 5px var(--light);
}

#fineprint-temp {
    color: gray;
    font-size: 0.9em;
}

/* Media queries */

@media (min-width: 820px) {
    main {
        margin: 15vh auto;
    }

    .details ul {
        grid-template-columns: repeat(4, minmax(100px, 200px));
    }
}

@media (min-width: 1000px) {
    :root {
        font-size: 20px;
    }

    main {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .overwiew {
        text-align: left;
    }

    .details ul {
        grid-template-columns: repeat(2, minmax(100px, 200px));
    }
}
